.height {
  min-height: 53.9vh;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.mat-button {
  background: white;
}
.example-full-width {
  width: 100%;
}
input {
  font-size: 30px;
  color: black;
}
input[type='file'] {
  font-size: 15px;
  color: black;
}
.logout {
  float: right;
}
mat-label {
  font-size: 30px;
  color: black;
}
.btn {
  margin-top: 20px;
}
.space {
  height: 50px;
}
.mat-select-value {
  color: black !important;
}
span.ng-tns-c6-4.ng-star-inserted {
  color: white !important;
}
h2 {
  color: black;
}
