<div
  id="contact"
  name="contact/reference"
  class="full-width spaced-bottom spaced-top"
>
  <div class="container con-ref grid-col-2">
    <app-slider></app-slider>
    <div class="contact">
      <h2>Jak się ze mną skontaktować?</h2>
      <div class="grid-col-2">
        <div class="contact-items">
          <p>
            <span class="circle">
              <img src="../../assets/img/mail.png" alt="Mail" />
            </span>
            <a href="mailto:mail@mail.com">mail@mail.com </a>
          </p>
        </div>
        <div class="contact-items">
          <p>
            <span class="circle">
              <img src="../../assets/img/telefon.png" alt="Phone" />
            </span>
            123&nbsp;45&nbsp;67&nbsp;89
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
