<header class="spaced-top-small spaced-bottom">
  <div class="container">
    <div class="logo">
      <a routerLink="">
        <img src="../../assets/img/logo kg.svg" alt="Katarzyna Grudzień" />
      </a>
    </div>
    <nav class="nav">
      <ul id="nav">
        <li><a class="hover-bold" href="#realization">realizacje</a></li>
        <li><a class="hover-bold" href="#about">o mnie</a></li>
        <li><a class="hover-bold" href="#skill">umiejętności</a></li>
        <li><a class="hover-bold" href="#contact">kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
