<div
  id="realization"
  name="category"
  class="full-width spaced-bottom spaced-top"
>
  <div class="container category grid-col-4">
    <div class="category-item">
      <h2>Identyfikacja wizualna</h2>
      <a routerLink="/category/identyfikacja-wizualna">
        <div class="category-image">
          <img
            src="../../../assets/img/identyf-wiz.jpg"
            alt="Identyfikacja wizualna"
          />
        </div>
      </a>

      <div class="under-img-line  "></div>
      <div class="line-active"></div>

      <p class="under-img-text">
        Logo, logotyp, księga znaku, opakowania, szata materiałów promocyjnych,
        brand heroes.
      </p>
      <div class="button firebase">
        <a routerLink="/category/identyfikacja-wizualna"> ZOBACZ </a>
      </div>
    </div>
    <div class="category-item">
      <h2>Web Design i reklama</h2>
      <a routerLink="/category/web-design">
        <div class="category-image">
          <img src="../../../assets/img/web-design.jpg" alt="Web Design" />
        </div>
      </a>
      <div class="under-img-line  "></div>
      <div class="line-empty"></div>
      <p class="under-img-text">
        Projekty layoutów stron internetowych, aplikacji, a także banery,
        grafiki na social media, reklamy adwords.
      </p>
      <div class="button absolute-0">
        <a routerLink="/category/web-design"> ZOBACZ </a>
      </div>
    </div>
    <div class="category-item">
      <h2>Projekty poligraficzne</h2>
      <a routerLink="/category/projekty-poligraficzne">
        <div class="category-image">
          <img
            src="../../../assets/img/projekty-poli.jpg"
            alt="Projekty poligraficzne"
          />
        </div>
      </a>
      <div class="under-img-line  "></div>
      <div class="line-empty"></div>
      <p class="under-img-text">
        Katalogi, ulotki, broszury, wizytówki, banery reklamowe, plakaty,
        teczki, roll-up.
      </p>
      <div class="button absolute-0">
        <a routerLink="/category/projekty-poligraficzne"> ZOBACZ </a>
      </div>
    </div>
    <div class="category-item">
      <h2>Ilustracje i modele 3d</h2>
      <a routerLink="/category/ilustracje-modele">
        <div class="category-image">
          <img
            src="../../../assets/img/ilustracje.jpg"
            alt="Ilustracje i modele 3D"
          />
        </div>
      </a>
      <div class="under-img-line  "></div>
      <div class="line-empty"></div>
      <p class="under-img-text">
        Praca z tabletem, ilustracje do książek, tablice edukacyjne. Grafika 2D
        i 3D.
      </p>
      <div class="button absolute-0">
        <a routerLink="/category/identyfikacja-wizualna"> ZOBACZ </a>
      </div>
    </div>
  </div>
</div>
