<div
  id="about"
  name="about-me"
  class="full-width lightdark spaced-bottom spaced-top"
>
  <div class="container about-skill grid-col-2">
    <div class="grid-col-2 about">
      <div class="about-img">
        <img src="../../assets/img/ja.jpg" alt="Katarzyna Grudzień" />
      </div>
      <div class="about-text">
        <p>O mnie</p>
        <p>
          Z zawodu jestem grafikiem. Wykonuję projekty stron internetowych,
          projekty poligraficzne, ilustracje, logotypy, grafiki na media
          społecznościowe i wiele innych. Zajmuje się również fotografią:
        </p>
        <p>
          <a href="#"> Zobacz portfolio fotograficzne&nbsp;> </a>
        </p>
      </div>
    </div>
    <div id="skill" class="skill">
      <h2>Umiejętności</h2>
      <p>
        Obsługa programów z pakietu Adobe: Photoshop, Lightroom, Illustrator,
        Indesign, Premiere, a także innych: CorelDraw czy Blender.
      </p>

      <div class="adobe-icon">
        <img src="../../assets/img/Psicon.svg" alt="Photoshop" />
        <img src="../../assets/img/Aiicon.svg" alt="Illustrator" />
        <img src="../../assets/img/Idicon.svg" alt="InDesign" />
        <img src="../../assets/img/Pricon.svg" alt="Premiere" />
      </div>
      <div class="other-skill-icon">
        <img src="../../assets/img/Corelicon.svg" alt="CorelDraw" />
        <img src="../../assets/img/Blendericon.svg" alt="Blender" />
        <img src="../../assets/img/Lricon.svg" alt="LightRoom" />
      </div>
    </div>
  </div>
</div>
